@{
    ViewData["Title"] = "Restaurant";
    Layout = "~/Views/UILayout/Index.cshtml";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-warning custom-alert">
        @TempData["Message"]
    </div>
}

@await Component.InvokeAsync("_HomePageSlider")

@await Component.InvokeAsync("_HomePageOffer")

@await Component.InvokeAsync("_HomePageFoods")

@await Component.InvokeAsync("_HomePageAbout")

@await Component.InvokeAsync("_HomePageBookTable")

@await Component.InvokeAsync("_HomePageTestimonial")