@{
    Layout = null;
}

<!DOCTYPE html>
<html>

@await Component.InvokeAsync("_UILayoutHeader")

<body class="sub_page">

    @await Component.InvokeAsync("_UILayoutNavbar")

    @RenderBody()

    @await Component.InvokeAsync("_UILayoutFooter")

    @await Component.InvokeAsync("_UILayoutScripts")

</body>
</html>
