@{
    Layout = null;
}

<!DOCTYPE html>
<html>

@await Component.InvokeAsync("_LayoutHeader")

<body>

    <div class="wrapper">

        @await Component.InvokeAsync("_LayoutNavbar")
        @await Component.InvokeAsync("_LayoutSidebar")

        <div class="main-panel">
            <div class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
            @await Component.InvokeAsync("_LayoutFooter")

        </div>

    </div>

    @await Component.InvokeAsync("_LayoutScripts")

</body>

</html>
