<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
        </nav>
        <div class="copyright ml-auto">
            @DateTime.Now.Year, made with <i class="la la-heart heart text-danger"></i> by <a href="http://www.themekita.com">ThemeKita</a>
        </div>
    </div>
</footer>