@{
    Layout = null;
}

<!DOCTYPE html>
<html>

@await Component.InvokeAsync("_UILayoutHeader")

<body class="sub_page">

    @await Component.InvokeAsync("_UILayoutNavbar")
    </div> <!-- Bu div'i silme -->

    <section class="clientcount_section layout_padding">
        <div class="container">
            <h4 class="page-title">Anlık Client Sayısı: <strong id="clientCount"></strong></h4>

            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>

            <script type="text/javascript">
                $(document).ready(() => {
                    // SignalR bağlantısı oluştur
                    const connection = new signalR.HubConnectionBuilder()
                        .withUrl("https://localhost:7068/SignalRHub")
                        .build();

                    // Başlangıç durumu
                    $("#connstatus").text(connection.state);

                    // Bağlantı başlatma
                    connection.start()
                        .then(() => {
                            $("#connstatus").text("Bağlantı kuruldu");
                        })
                        .catch((err) => {
                            $("#connstatus").text("Bağlantı hatası");
                            console.error(err.toString());
                        });

                    // Bağlantı durum değişikliklerini dinle
                    connection.onclose(() => {
                        $("#connstatus").text("Bağlantı kapalı");
                    });

                    connection.on("ReceiveClientCount",(value)=>{
                        $("#clientCount").text(value);
                        console.log(value);
                    });

                });
            </script>
        </div>
    </section>

    @await Component.InvokeAsync("_UILayoutFooter")

    @await Component.InvokeAsync("_UILayoutScripts")

</body>

</html>
