@model List<ResultSliderDto>
@{
    ViewData["Title"] = "Hakkımızda";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h4 class="page-title">Hakkımızda</h4>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="card-sub">
                    Hakkımızda Alanı İşlemlerini Bu Tablodan Yapabilirsin
                </div>
                <table class="table mt-3">
                    <thead>
                        <tr>
                            <th scope="col">Başlık</th>
                            <th scope="col">Açıklama</th>
                            <th scope="col">Düzenle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img class="photo mr-2" src="@item.ImageUrl" alt="@item.Title">
                                        <span>@item.Title</span>
                                    </div>
                                </td>
                                <td>@item.Description</td>
                                <td><a href="/About/UpdateAbout/@item.AboutId" class="btn btn-outline-primary btn-round">Düzenle</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
