@model UILayer.DTO.CategoryDTO.CategoryUpdateDTO
@{
    ViewData["Title"] = "Kategori Güncelle";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Categori Güncelle</div>
                </div>
                <div class="card-body">
                    <input type="hidden" asp-for="CategoryId" />
                    <div class="form-group">
                        <label for="name">Kategori Adı</label>
                        <input type="text" class="form-control" asp-for="Name" id="name">
                    </div>
                    <div class="form-group">
                        <label for="status">Kategori Durumu</label>
                        <input type="text" class="form-control" asp-for="Status" id="status">
                    </div>
                </div>
                <div class="card-action">
                    <button type="submit" class="btn btn-success">Kaydet</button>
                </div>
            </div>
        </form>
    </div>
</div>