@model NotificationUpdateDTO
@{
    ViewData["Title"] = "Bildirim Güncelle";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Bildirim Güncelle</div>
                </div>
                <div class="card-body">
                    <input type="hidden" asp-for="NotificationId" />
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="form-group">
                        <label for="type">Bildirim Türü</label>
                        <input type="text" class="form-control" asp-for="Type" id="type">
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="icon">Icon</label>
                        <input type="text" class="form-control" asp-for="Icon" id="icon">
                        <span asp-validation-for="Icon" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="description">Açıklama</label>
                        <input type="text" class="form-control" asp-for="Description" id="description">
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-action">
                    <button type="submit" class="btn btn-success">Kaydet</button>
                </div>
            </div>
        </form>
    </div>
</div>
