@model LoginDTO
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Giriş Sayfası</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Templates/Register/css/nunito-font.css">
    <link rel="stylesheet" href="~/Templates/Register/css/style.css" />
</head>
<body class="form-v6">
    <div class="page-content">
        <div class="form-v6-content">
            <div class="form-left">
                <img src="~/Templates/Register/images/burger.jpg" style="height:584px; width:auto;" alt="form">
            </div>
            <form class="form-detail" method="post">
                <h2>Giriş Formu</h2>
                <div class="form-row">
                    <input type="text" id="full-username" class="input-text" placeholder="Kullanıcı Adı" asp-for="Username" required>
                </div>
                <div class="form-row">
                    <input type="password" id="password" class="input-text" placeholder="Şifre" asp-for="Password" required>
                </div>
                <div class="form-row-last">
                    <input type="submit" name="register" class="register" value="Giriş Yap">
                </div>
            </form>
        </div>
    </div>
</body>
</html>

