@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
	<title>404</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:700,900" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="~/Templates/ErrorPage/css/font-awesome.min.css" />
	<link type="text/css" rel="stylesheet" href="~/Templates/ErrorPage/css/style.css" />
</head>

<body>

	<div id="notfound">
		<div class="notfound-bg"></div>
		<div class="notfound">
			<div class="notfound-404">
				<h1>404</h1>
			</div>
			<h2>Oooooooops! Aradığınız Sayfayı Bulamadık:C</h2>
			<a href="/Home/Index/" class="home-btn">Ana Sayfa</a>
			<a href="/Login/Index/" class="contact-btn">Giriş</a>
			<div class="notfound-social">
				<a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
				<a href="https://x.com/"><i class="fa fa-twitter"></i></a>
				<a href="https://tr.pinterest.com/"><i class="fa fa-pinterest"></i></a>
				<a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
			</div>
		</div>
	</div>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>

