@model DiscountCreateDTO
@{
    ViewData["Title"] = "İndirim Ekle";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">İndirim Ekle</div>
                </div>
                <div class="card-body">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="form-group">
                        <label for="title">Ürün</label>
                        <input type="text" class="form-control" asp-for="Title" id="title">
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="price">İndirim Oranı</label>
                        <input type="number" class="form-control" asp-for="Amount" id="price">
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="imageUrl">Resim Yolu</label>
                        <input type="text" class="form-control" asp-for="ImageUrl" id="imageUrl">
                        <span asp-validation-for="ImageUrl" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="description">Açıklama</label>
                        <textarea class="form-control" rows="4" asp-for="Description" id="description"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-action">
                    <button type="submit" class="btn btn-success">Ekle</button>
                </div>
            </div>
        </form>
    </div>
</div>
